/*BODY*/
body {
  background-image: url(images/pagebg.webp);
  background-size: cover;
  padding: 20px;
  margin: 0px;
  cursor: default;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.hlogo {
  height: 40px;
  width: auto;
}

.hlang {
  border: 2px solid white;
  background: none;
  padding: 9px;
  border-radius: 50px;
}

.container-language-signin {
  display: flex;
  gap: clamp(5px, 1vw, 20px);
}

.language-selector {
  border: 0px solid transparent;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: none;
}

.hopt {
  background-color: white;
  color: black;
}

.signin {
  height: 40px;
  width: 100px;

  background-color: white;
  border: 2px solid white;
  border-radius: 50px;

  font-size: 16px;
  font-weight: 500;

  color: #0f090b;
}
/*SECTION 1*/
.sec1 {
  margin: 30px;
  background-image: url(images/banner.jpg);
  border-radius: 50px;
  font-family: Martel Sans;
  color: white;
  background-size: cover;
}

.s1-shadow {
  padding: 300px 0px 50px 0px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  box-shadow: inset 2px 1px 1px white, inset 0px -120px 120px #311c1b;
}

.s1-tag {
  font-weight: 900;
  font-size: clamp(30px, 4vw, 70px);
  line-height: clamp(30px, 4vw, 70px);
}

.s1-sub-tag {
  font-weight: 400;
  font-size: clamp(10px, 2vw, 20px);
  margin-top: -30px;
}
/*SECTION 2*/
.sec2 {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.s2-input {
  width: 47vw;
  max-width: 400px;
  border: 1px solid darkgray;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: clamp(12px, 1vw, 30px);
  font-size: 15px;
}

.s2-button {
  width: 28vw;
  max-width: 175px;
  border: none;
  border-radius: 50px;
  background-color: #e50914;
  color: white;
  font-family: Martel Sans;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease-in;
  padding: clamp(7px, 0.5vw, 30px);
}

.s2-button:hover {
  background-color: #88070e;
  color: white;
}
/*SECTION 3*/
.sec3 {
  padding: 40px clamp(40px, 6vw, 150px);
}

.title {
  display: flex;
  justify-content: space-between;
}

.s3-heading {
  color: white;
  font-family: "Martel Sans", sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.s3-options {
  padding-top: 20px;
}

.s3-options select {
  width: 100px;
}

.optn1 {
  border: 0px solid transparent;
  font-size: 16px;
  font-weight: 600;
  background: none;
  color: white;
  border: 2px solid white;
  padding: 10px 5px;
  border-radius: 50px;
}

.optn2 {
  border: 0px solid transparent;
  font-size: 16px;
  font-weight: 600;
  background: none;
  color: white;
  border: 2px solid white;
  padding: 10px 5px;
  border-radius: 50px;
}

.slideshow {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(20px, 5vw, 70px);
  justify-content: center;
  padding: clamp(30px, 5vw, 60px) 0;
}

.ssimg1,
.ssimg2,
.ssimg3,
.ssimg4,
.ssimg5,
.ssimg6 {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: clamp(250px, 40vw, 350px);
  width: clamp(120px, 25vw, 200px);
  color: #030303e0;
  transition: transform 0.3s ease;
}

.ssimg1:hover,
.ssimg2:hover,
.ssimg3:hover,
.ssimg4:hover,
.ssimg5:hover,
.ssimg6:hover {
  transform: scale(1.05);
}

/* Background Images */
.ssimg1 {
  background-image: url(images/bhoolbhulaiya.jpg);
}
.ssimg2 {
  background-image: url(images/teenpatti.jpg);
}
.ssimg3 {
  background-image: url(images/meiya.jpg);
}
.ssimg4 {
  background-image: url(images/thebuckinghammurders.webp);
}
.ssimg5 {
  background-image: url(images/devaraposter.webp);
}
.ssimg6 {
  background-image: url(images/vijay69.jpg);
}

.number {
  font-family: "Martel Sans", sans-serif;
  font-size: clamp(40px, 8vw, 100px);
  font-weight: 800;
  text-shadow: #fff 1px 1px 0px, #fff -1px -1px 0px, white 0px 0px 5px;
  margin: -10px 0 0 -31px;
}

/*SECTION 4*/
.sec4 {
  color: #fff;
  padding: 40px clamp(20px, 6vw, 150px);
}

.s4head {
  font-family: "Martel Sans", sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.s4boxes {
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

.s4textdiv {
  display: flex;
}

.s4textbox {
  width: 350px;
  background-color: rgba(41, 41, 41, 0.681);
  font-family: "Martel Sans", sans-serif;
  border-radius: 30px;
  border: 2px solid #2b2a28;
  padding: 5px 5px;
  position: relative;
  height: 112px;
}

.s4text {
  margin-left: 5px;
}

.s4graphics {
  height: 40px;
  width: auto;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/*SECTION 5*/
.sec5 {
  padding: 40px clamp(20px, 6vw, 150px);
  color: #fff;
  font-family: "Martel Sans", sans-serif;
}

.s5head {
  font-weight: 900;
  font-size: 30px;
}

.accordion {
  width: 80%;
  margin: auto;
}

.accordion-header {
  background: rgba(41, 41, 41, 0.681);
  padding: 15px 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #fff;
  border-radius: 20px;
  border: 2px solid #2b2a28;
  margin-bottom: 5px;
  transition: background 0.7s;
}

.accordion-header:hover {
  background: rgba(59, 59, 59, 0.681);
  padding: 15px 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #fff;
  border-radius: 20px;
  border: 2px solid #2b2a28;
  margin-bottom: 5px;
}

.icon {
  scale: 1.8;
}
.accordion-header .icon {
  transition: transform 0.3s;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  padding: 0px 20px;
  background: rgba(41, 41, 41, 0.681);
  color: #fff;

  margin-bottom: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}

/*SECTION 6*/
.sec6 {
  align-items: center;
}

.s6-button {
  height: 40px;
  width: 125px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #c0050f;
  color: white;

  font-family: Martel Sans;
  font-size: 15px;
  font-weight: 600;
  transition: background-color 0.3s ease-in;
}

.s6-button:hover {
  height: 40px;
  width: 125px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #88070e;
  color: white;

  font-family: Martel Sans;
  font-size: 15px;
  font-weight: 600;
}

.s6-text {
  font-family: "Martel Sans", sans-serif;
  font-size: 15px;
  color: white;
}
/*FOOTER*/
footer {
  color: #b7b7b7;
  font-family: "Martel Sans", sans-serif;
  padding: 100px clamp(20px, 6vw, 150px) 200px clamp(20px, 6vw, 150px);
}

.foot1 {
  padding-left: 100px;
}

.foot2 {
  display: flex;
  justify-content: space-around;
}

.f2-text {
  font-size: 14px;
}

@media (max-width: 720px) {
  body {
    padding: none;
  }
  .number {
    margin: -10px 0 0 -15px;
  }
  .hlogo {
    height: 28px;
  }
  .hlangicon {
    display: none;
  }
  .foot1 {
    padding-left: 10px;
    font-size: 14px;
  }
  .s2-button {
    font-size: 12px;
  }
  .accordion {
    width: 100%;
  }
  .accordion-header,
  .accordion-content,
  .accordion-header:hover {
    font-size: 14px;
  }
  .s3-options {
    display: flex;
    gap: 7px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .s3-heading,
  .s4head,
  .s5head {
    font-size: 23px;
  }
  .accordion-header,
  .accordion-header:hover {
    padding: 11px 18px;
  }
  .sec3 {
    padding: 40px 0px 0px;
  }
  .s1-shadow {
    padding: 200px 0px 50px 0px;
  }
}
